<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>Blog Bundle : index.html.twig</title>
	</head>
	
	<body><!--  Sans body la barre du profiler ne s'affiche pas -->
		<header>
			<h1>Blog Bundle : Premier bundle Symfony</h1>
		</header>
		<p>Hello Symfony !</p>
	</body>
</html>
