{#
	src/BlogBundle/Resources/views/Hello/article.html.twig
	Etend src/BlogBundle/Resources/views/layout.html.twig
	webDev - 2017
	Variables exposées :
		$id => Identifiant défini par la route, et transmis par voirAction()
#}
	{% extends "BlogBundle::layout.html.twig" %}
	
	{% block title %}{{ parent() }} - Article : {{ id }} : {{ action }}{% endblock %}
	
	{% block blog_body %}
		<header>
			<h1>
			    {% if action == "ajouter" %}
			    	Ajouter un article
			    {% else %}
			    	Mettre à jour l'article {{ id }}
			    {% endif %}
			</h1>
		</header>
		
		<main>
			{# Inclusion de la vue chargeant le formulaire ajout ou modification #}
			<div class="well">
				{%  include "BlogBundle:Hello:formulaire.html.twig" %}
			</div>
		</main>
		
		<footer>
			Powered by Symfony 2.8
		</footer>
	{% endblock %}