{#
	src/BlogBundle/Resources/views/Hello/modifier.html.twig
	Etend src/BlogBundle/Resources/views/Hello/article.html.twig
	webDev - 2017
	Variables exposées :
		$date => Date du jour avec l'heure courante
#}
{% extends BlogBundle::Hello::article.html.twig %}

{% block title %}Modifier un article{% endblock %}
		
{% block formulaire %}
	<div class="well">
				<form method="post" action="" name="ajouter" id="ajouter" enctype="multipart/form-data">
			<fieldset>
				<div class="form-group">
					<label for="titre">Titre :</label>
					<input type="text" name="titre" id="titre" value="{{ titre }}" placeholder="Insérez un titre" class="form-control">
				</div>
			</fieldset>
		</form>
	</div>
{% endblock %}
